.dn {
  display: none;
}

.error-message {
  margin-left: 181px;
}

input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]), {
  border-bottom: 1px solid #8bc34a;
  box-shadow: 0 1px 0 0 #8bc34a;
}

.btn {
  &.btn-file {
    margin: 0;
    padding: 0;
  }
}

.h200 {
  height: 200px;
}

.error-message {
  color: red;
}

input.ng-touched.ng-invalid {
  border-bottom: 1px solid red;
}
