<div class="products__wrapper">
        <section class="products">
          <div class="container-fluid">
            <div class="products__title title">
              Let’s Check Out Our Newest Release Products
            </div>
            <div class="propducts__inner">
              <div class="products__inner-btn">
                <button type="button" data-filter="all">All</button>
                <button type="button" data-filter=".category-wordPress">WordPress</button>
                <button type="button" data-filter=".category-joomla">Joomla</button>
                <button type="button" data-filter=".category-plugins">Plugins</button>
                <button type="button" data-filter=".category-component">Component</button>
                <button type="button" data-filter=".category-psd">PSD</button>
              </div>
              <div class="propducts__inner-box">
                <div class="product__item mix category-component" data-order="1">
                  <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
                  <div class="product__item-content">
                    <div class="product__item-name">
                      <a class="product__item-title" href="#!">
                        Responsive Mobile APP
                      </a>
                      <a class="product__item-cotegory" href="#!">
                        Site Template
                      </a>
                    </div>
                    <div class="product__item-price">
                      $19
                    </div>
                  </div>
                  <div class="product__item-info">
                    <a class="product__item-author" href="#!">
                      <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                      <span>Radiustheme</span>
                    </a>
                    <div class="product__item-star">
                      <div class="reiteng-user"></div>
                      (<span>05</span>)
                    </div>
                  </div>
                </div>
                <div class="product__item mix category-plugins" data-order="2">
                  <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
                  <div class="product__item-content">
                    <div class="product__item-name">
                      <a class="product__item-title" href="#!">
                        Responsive Mobile APP
                      </a>
                      <a class="product__item-cotegory" href="#!">
                        Site Template
                      </a>
                    </div>
                    <div class="product__item-price">
                      $19
                    </div>
                  </div>
                  <div class="product__item-info">
                    <a class="product__item-author" href="#!">
                      <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                      <span>Radiustheme</span>
                    </a>
                    <div class="product__item-star">
                      <div class="reiteng-user"></div>(<span>05</span>)
                    </div>
                  </div>
                </div>
                <div class="product__item mix category-wordPress category-popular" data-order="3">
                  <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
                  <div class="product__item-content">
                    <div class="product__item-name">
                      <a class="product__item-title" href="#!">
                        Responsive Mobile APP
                      </a>
                      <a class="product__item-cotegory" href="#!">
                        Site Template
                      </a>
                    </div>
                    <div class="product__item-price">
                      $19
                    </div>
                  </div>
                  <div class="product__item-info">
                    <a class="product__item-author" href="#!">
                      <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                      <span>Radiustheme</span>
                    </a>
                    <div class="product__item-star">
                      <div class="reiteng-user"></div>(<span>05</span>)
                    </div>
                  </div>
                </div>
                <div class="product__item mix category-psd category-new" data-order="4">
                  <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
                  <div class="product__item-content">
                    <div class="product__item-name">
                      <a class="product__item-title" href="#!">
                        Responsive Mobile APP
                      </a>
                      <a class="product__item-cotegory" href="#!">
                        Site Template
                      </a>
                    </div>
                    <div class="product__item-price">
                      $19
                    </div>
                  </div>
                  <div class="product__item-info">
                    <a class="product__item-author" href="#!">
                      <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                      <span>Radiustheme</span>
                    </a>
                    <div class="product__item-star">
                      <div class="reiteng-user"></div>(<span>05</span>)
                    </div>
                  </div>
                </div>
                <div class="product__item mix category-component" data-order="5">
                  <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
                  <div class="product__item-content">
                    <div class="product__item-name">
                      <a class="product__item-title" href="#!">
                        Responsive Mobile APP
                      </a>
                      <a class="product__item-cotegory" href="#!">
                        Site Template
                      </a>
                    </div>
                    <div class="product__item-price">
                      $19
                    </div>
                  </div>
                  <div class="product__item-info">
                    <a class="product__item-author" href="#!">
                      <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                      <span>Radiustheme</span>
                    </a>
                    <div class="product__item-star">
                      <div class="reiteng-user"></div>(<span>05</span>)
                    </div>
                  </div>
                </div>
                <div class="product__item mix category-plugins" data-order="6">
                  <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
                  <div class="product__item-content">
                    <div class="product__item-name">
                      <a class="product__item-title" href="#!">
                        Responsive Mobile APP
                      </a>
                      <a class="product__item-cotegory" href="#!">
                        Site Template
                      </a>
                    </div>
                    <div class="product__item-price">
                      $19
                    </div>
                  </div>
                  <div class="product__item-info">
                    <a class="product__item-author" href="#!">
                      <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                      <span>Radiustheme</span>
                    </a>
                    <div class="product__item-star">
                      <div class="reiteng-user"></div>(<span>05</span>)
                    </div>
                  </div>
                </div>
                <div class="product__item mix category-joomla category-new " data-order="7">
                  <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
                  <div class="product__item-content">
                    <div class="product__item-name">
                      <a class="product__item-title" href="#!">
                        Responsive Mobile APP
                      </a>
                      <a class="product__item-cotegory" href="#!">
                        Site Template
                      </a>
                    </div>
                    <div class="product__item-price">
                      $19
                    </div>
                  </div>
                  <div class="product__item-info">
                    <a class="product__item-author" href="#!">
                      <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                      <span>Radiustheme</span>
                    </a>
                    <div class="product__item-star">
                      <div class="reiteng-user"></div>(<span>05</span>)
                    </div>
                  </div>
                </div>
                <div class="product__item mix category-psd category-new" data-order="8">
                  <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
                  <div class="product__item-content">
                    <div class="product__item-name">
                      <a class="product__item-title" href="#!">
                        Responsive Mobile APP
                      </a>
                      <a class="product__item-cotegory" href="#!">
                        Site Template
                      </a>
                    </div>
                    <div class="product__item-price">
                      $19
                    </div>
                  </div>
                  <div class="product__item-info">
                    <a class="product__item-author" href="#!">
                      <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                      <span>Radiustheme</span>
                    </a>
                    <div class="product__item-star">
                      <div class="reiteng-user"></div>(<span>05</span>)
                    </div>
                  </div>
                </div>
              </div>
              <div class="products__bottom-btn">
                <button type="button" data-filter=".category-new">All New Items</button>
                <button type="button" data-filter=".category-popular">Popular Items</button>
              </div>
            </div>
          </div>
        </section>
      </div>
