<h3 style="margin-bottom: 0">Список Пользователей</h3>
<ul #collapsibleRef class="collapsible popout" *ngIf="users$ | async as users">
  <li *ngFor="let user of users">
    <div class="collapsible-header">{{user.firstName}}</div>
    <div class="collapsible-body">
      <ul>
        <li>ID: {{user._id}}</li>
        <li>Price: {{user.userPrice}}</li>
        <li>Role Name: {{user.roleID.roleName}}</li>
        <li>Create Date: {{user.createDate | date: 'dd.MM.yyyy'}}</li>
        <li>
          <button class="btn" [routerLink]="['/admin/user', user._id]">Открыть пользователя</button>
        </li>
      </ul>
    </div>
  </li>
</ul>
