<footer class="footer">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__items footer__col-adress">
          <div class="footer__items-title">
            About Company
          </div>
          <div class="footer__items-text">
            Praesent vel rutrum purus. Nam vel dui eu risus duis dignissim digniSuspen disse.Fusce sit amet urna
            iat.Praesent vel rutrum purus.
          </div>
          <div class="footer__items-info">PO Box 16122 Collins Street West
            Victoria 8007 Australia
          </div>
          <a class="footer__items-info info-phone" href="tel:61383766284">+61 3 8376 6284</a>
        </div>
        <div class="footer__items footer__col">
          <div class="footer__items-title">
            Join Our Community
          </div>
          <ul class="footer__items-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Forums</a></li>
            <li><a href="#">Become an Author</a></li>
            <li><a href="#">Community Meetups</a></li>
            <li><a href="#">Become an Affiliate</a></li>
          </ul>
        </div>
        <div class="footer__items footer__col">
          <div class="footer__items-title">
            Need Help?
          </div>
          <ul class="footer__items-list">
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Foxtar Market Terms</a></li>
            <li><a href="#">Author Terms</a></li>
            <li><a href="#">Foxtar Licenses</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="footer__items footer__col-sociall">
          <div class="footer__items-title">
            Follow Us On
          </div>
          <ul class="foter__social-link">
            <li><a class="link-fasebook" href="#"></a></li>
            <li><a class="link-tvitter" href="#"></a></li>
            <li><a class="link-youtube" href="#"></a></li>
            <li><a class="link-pinterest" href="#"></a></li>
            <li><a class="link-liledin" href="#"></a></li>
          </ul>
          <form class="footer__form">
            <div class="footer__form-title">
              Newsletter Sign Up!
            </div>
            <input type="text" placeholder="E-mail Address">
            <button type="submit"></button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer__copy">
      © 2017 Foxtar market place. Trademarks and brands are the property of their respective owners.
    </div>
  </footer>
