<app-preloader></app-preloader>
<app-searc-about></app-searc-about>
<app-breadcrumbs [bred-title]="title"></app-breadcrumbs>

<div class="withdrawals">
  <div class="container">
    <div class="withd__inner">
      <div class="earnings__box">
        <div class="box__title">
          Withdrawals Earnings
        </div>
        <div class="earnings__box-content">
          <form>
            <div class="box__content-line">
              <label>Amount to Withdraw ($2000.00 Maximum) <span>*</span></label>
              <input type="text" placeholder="Enter the amount you want to withdraw...">
            </div>
            <div class="box__content-line">
              <label>Choose your Withdraw Method <span>*</span></label>
              <select>
                <option>Select Your Card</option>
                <option>Select Your Card</option>
                <option>Select Your Card</option>
              </select>
            </div>
            <div class="box__content-line">
              <label>Your Account Name <span>*</span></label>
              <select>
                <option>Select Your Card</option>
                <option>Select Your Card</option>
                <option>Select Your Card</option>
              </select>
            </div>
            <div class="box__content-line">
              <label>Confirm Your Password <span>*</span></label>
              <input type="password" placeholder="Select Your Card">
            </div>
            <button type="submit">Request Withdrawal</button>
          </form>
        </div>
      </div>
      <div class="history__box">
        <div class="box__title">
          Withdrawal History
        </div>
        <div class="history__box-content">
          <ul class="content__list">
            <li class="line__inner not--processed">
              <span>Dec 26th, 2016</span>
              <span>Psdboss@paypal.com</span>
              <span class="scrip">$200</span>
              <span class="status">Pending</span>
            </li>
            <li class="line__inner">
              <span>Dec 26th, 2016</span>
              <span>Psdboss@paypal.com</span>
              <span class="scrip">$100</span>
              <span class="status" style="color:#8bc34a;">Paid</span>
            </li>
            <li class="line__inner">
              <span>Dec 26th, 2016</span>
              <span>Psdboss@paypal.com</span>
              <span class="scrip">$200</span>
              <span style="color:#8bc34a;" class="status">Paid</span>
            </li>
            <li class="line__inner">
              <span>Dec 26th, 2016</span>
              <span>Psdboss@paypal.com</span>
              <span class="scrip">$100</span>
              <span class="status" style="color:#8bc34a;">Paid</span>
            </li>
            <li class="line__inner">
              <span>Dec 26th, 2016</span>
              <span>Psdboss@paypal.com</span>
              <span class="scrip">$200</span>
              <span class="status" style="color:#8bc34a;">Paid</span>
            </li>
            <li class="line__inner">
              <span>Dec 26th, 2016</span>
              <span>Psdboss@paypal.com</span>
              <span class="scrip">$100</span>
              <span class="status" style="color:#8bc34a;">Paid</span>
            </li>
            <li class="line__inner">
              <span>Dec 26th, 2016</span>
              <span>Psdboss@paypal.com</span>
              <span class="scrip">$200</span>
              <span class="status" style="color:#8bc34a;">Paid</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
