 <section class="tutorials">
        <div class="container">
          <div class="tutorials__title title">
            Free Monthly Tutorials To Help You With Your Project
          </div>
          <div class="tutorials__inner">
            <div class="tutorials__inner-items">
              <div class="tutorials__inner-images" style="background-image: url(assets/img/content/tutorials-items.jpg);">
              </div>
              <div class="tutorials__inner-title">
                Web Design Tutorials
              </div>
            </div>
            <div class="tutorials__inner-items">
              <div class="tutorials__inner-images" style="background-image: url(assets/img/content/wordpress-items.jpg);">
              </div>
              <div class="tutorials__inner-title">
                WordPress Tutorials
              </div>
            </div>
            <div class="tutorials__inner-items">
              <div class="tutorials__inner-images" style="background-image: url(assets/img/content/html-items.jpg);"></div>
              <div class="tutorials__inner-title">
                HTML & CSS Tutorials
              </div>
            </div>
          </div>
        </div>
      </section>
