img {
  width: 41px;
  border-radius: 50px;
}

.loader {
  background-color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  left: 0;
  top: 0;
  transform: translate(0%, -26%);
  width: 155px;
  height: 92px;
  z-index: 5;

  .progress {
    background-color: rgba(139, 195, 74, 0.42);

    .indeterminate {
      background-color: #8bc34a;
    }
  }

  &.bone {
    opacity: 0;
    visibility: hidden;
  }
}

