<div class="user__box-inner" *ngIf="userProfile$ | async as profileUsers">
  <a class="user" [routerLink]="['/profile', profileUsers._id]">
    <div class="user__box">
      <div class="user__box-images">
        <img src="/api/{{profileUsers.avatarName}}" alt="">
      </div>
      <div class="user__box-items">
        <div class="loader" *ngIf="isLoading" id="loader__user">
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>
        <div class="user__name">
          {{profileUsers.firstName}}
        </div>
        <div class="user__price">
          {{profileUsers.userPrice}} $
        </div>
      </div>
    </div>
  </a>

  <div class="user__menu">
    <ul class="user__list">
      <li><a [routerLink]="['/profile', profileUsers._id]">Profile Page</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a [routerLink]="['/personal-info',profileUsers._id]">Account Setting</a></li>
      <li><a href="#">Downloads</a></li>
      <li><a href="#">Wishlist</a></li>
      <li><a routerLink="/upload">Upload Item</a></li>
      <li><a href="#">Statement</a></li>
      <li><a routerLink="/withdrawals">Withdraws</a></li>
    </ul>
  </div>
</div>
