<!--<div #modal id="modal" class="modal">-->
<!--  <div class="box-btn">-->
<!--    <button class="modal__btn" (click)="closeModal()"></button>-->
<!--  </div>-->
<!--  <div class="login__wrapper">-->
<!--    <form method="POST">-->
<!--      <div class="login__title">-->
<!--        login-->
<!--      </div>-->
<!--      <label class="login-name">-->
<!--        <input type="text" placeholder="Login" required>-->
<!--      </label>-->
<!--      <label class="login-pass">-->
<!--        <input type="password" placeholder="Passworld" required>-->
<!--      </label>-->
<!--      <div class="mabile__fics">-->
<!--        <button type="submit">submit</button>-->
<!--        <a class="creat-acc" href="#">Creat An Account?</a>-->
<!--        <a class="lost-pass" href="#">Lost Password?</a>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
