<section class="product-slider">
        <div class="container-fluid">
          <div class="product-slider__title title">
            This Week Trending Products
          </div>
          <div class="product-slider__inner">
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"><span>(05</span>)</div>
                </div>
              </div>
            </div>
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
            <div class="product__item mix">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
            <div class="product__item">
              <a class="product__item-img" href="#" style="background-image: url(assets/img/content/items-bg.jpg);"></a>
              <div class="product__item-content">
                <div class="product__item-name">
                  <a class="product__item-title" href="#!">
                    Responsive Mobile APP
                  </a>
                  <a class="product__item-cotegory" href="#!">
                    Site Template
                  </a>
                </div>
                <div class="product__item-price">
                  $19
                </div>
              </div>
              <div class="product__item-info">
                <a class="product__item-author" href="#!">
                  <div class="avatar" style="background-image:url(assets/img/content/uzer.jpg);"></div>
                  <span>Radiustheme</span>
                </a>
                <div class="product__item-star">
                  <div class="reiteng-user"></div>(<span>05</span>)
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
