<section class="search page-search" style="background-image: url(assets/img/bg/search-bg.jpg);">
  <div class="container">
    <div class="search__inner">

      <div class="search__inner-text">
        Premium WordPress Themes, Web Templates and Many More ...
      </div>
      <div class="search__inner-form">
        <form>
          <input type="text" placeholder="Search Your Keywords . . ." required>
          <button type="submit">
            <img src="assets/img/icons/search-icons.png" alt="">
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
