<app-preloader *ngIf="load.loader.isLoading"></app-preloader>
<app-searc-about></app-searc-about>
<app-breadcrumbs [bred-title]="title"></app-breadcrumbs>

 <section class="contact">
        <div class="container">
          <div class="contact__wrapper">
            <div class="contact__head ">
              Contact With Us
            </div>
            <div class="contact__inner">
              <div class="contact__maps">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96746.51562949947!2d-74.04629249528713!3d40.73279414319579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1576883716737!5m2!1sru!2sua"
                  frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              </div>
              <div class="contact__box">
                <div class="contact__aders">
                  <div class="contact__items">
                    <div class="contact__items-title map-marker">
                      Our Office Address
                    </div>
                    <div class="contact__items-info">
                      PO Box 16122 Collins Street West
                      Victoria 8007 Australia
                    </div>
                  </div>
                  <div class="contact__items">
                    <div class="contact__items-title phone">
                      Phone
                    </div><a href="tel:61383766284" class="contact__items-info ">
                      +61 3 8376 6284
                    </a>
                  </div>
                  <div class="contact__items">
                    <div class="contact__items-title envelope-o">
                      E-mail
                    </div>
                    <a href="mailto:info@foxtar.com" class="contact__items-info ">
                      info@foxtar.com
                    </a>
                  </div>
                </div>
                <div class="contact__message">
                  <div class="contact__message-title">
                    Drop Us A Message
                  </div>
                  <form>
                    <div class="contact__message-box">
                      <input type="text" placeholder="Name*">
                      <input type="text" placeholder="E-mail*">
                    </div>
                    <textarea placeholder="Message*"></textarea>
                    <button type="submit">Send Message</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
