<div class="header__menu">
  <div class="container">
    <nav class="menu">
      <div class="menu__btn">
        <div class="menu__row one"></div>
        <div class="menu__row donne"></div>
        <div class="menu__row true"></div>
      </div>
      <ul class="menu__list">
        <li class="menu_items">
          <a routerLink="/">
            Home
          </a>
        </li>
        <li class="menu_items">
          <a routerLink="/about">
            About
          </a>
        </li>
        <li class="menu_items">
          <a href="#">
            WordPress
          </a>
        </li>
        <li class="menu_items">
          <a href="#">
            Joomla
          </a>
        </li>
        <li class="menu_items">
          <a href="#">
            PSD
          </a>
        </li>
        <li class="menu_items">
          <a href="#">
            Plugins
          </a>
        </li>
        <li class="menu_items">
          <a href="#">
            Components
          </a>
        </li>
        <li class="menu_items">
          <a [routerLink]="['/product']" >
            Products
          </a>
        </li>
        <li class="menu_items">
          <a routerLink="/contact">
            Contact
          </a>
        </li>
        <li class="menu_items">
          <a class="border--none" href="#">
            Help
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
