input[type=text]:not(.browser-default) {
  background-color: #fff;
  width: 100%;
  box-shadow: 0 1px 10px 0 rgba(124, 178, 64, 0.75);
  border-radius: 4px;
  height: 56px;
  border: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  padding-left: 25px;
  padding-right: 60px;
  box-sizing: border-box;
  transition: box-shadow 0.3s;
}
